body {
  background-color: black;
  color: white;
}
section {
  display: grid;
  grid-template-columns: 800px 250px;
  gap: 20px;
}

main {
  background-color: black;
  width: 1070px;
  margin: 0 auto;
}
section ol {
  background-color: black;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 120px;
  gap: 10px;
}
section ol li a img {
  display: block;
  opacity: 0.4;
  transition: all 1s;
}
section ol li a:hover img {
  opacity: 1;
  outline: 5px solid #ff0;
}
section ol li.selected a img {
  opacity: 1;
  outline: 5px solid #ffff;
}
